*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.row{
    display: flex;
}

.container{
    padding: 0px 20px;
    margin: 0 auto;
}
/* Media for container */
/* . Small .*/

@media (min-width: 768px) {
.container {
width: 750px;
}
}
/* . Medium .*/

@media (min-width: 992px) {
. container {
width: 970px;

}
}

/* . Large .*/

@media (min-width: 1200px) {
.container {
.width: 1170px;
}
}