.bar-icon{
    display: none;
}
.navbar{
    position: sticky;
    top: 0;
}
.navbar .container .row{
justify-content: space-between;
}
.ul-nav-bar ul{
    display: flex;
    width: 60vh;                     /* media*/
    justify-content: space-around;
}

.ul-nav-bar ul li ,.logo-nav span{
color:var(--text-color);
transition: color .2s ;
}
.ul-nav-bar ul a li:hover,.logo-nav span:hover{
color:var(--header);

}
/* Media for nav-bar */
/* . Small .*/

@media (max-width: 480px) {

.ul-nav-bar ul {
display: none;
}
.bar-icon{
    display: block;
    margin-top: 10px;
}

}
/* End of  Media for nav-bar */

/* backgrouned For section 1 */
.img{
    background-image: url(../images/img/bg-masthead.jpg);
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
/* End of backgrouned For section 1 */

/* Strart Hero Section */
.hero h1{
color:var(--header);
}
.hero p{
  color: var(--text-color);

}
.hero button{
    background-color: var(--orange-back);
   color:var(--header);
    font-size: var(--font-size-b);
    padding: 4px;
    border-radius: 10px;
    transition: background-color var(--tran-time);
}
.hero button:hover{
    background-color: rgb(194, 69, 34);
}


.hero .row .details-hero{
    height: 100vh;
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    
}

/* Media Quare For Hero Section */
/* . Small .*/

@media (max-width: 540px) {
.hero .row .details-hero{
    gap: 3px;
    margin-top: 2px;

}
.hero button{
   font-size: var(--font-size-b-small);
    padding: 2px;
    border-radius: 6px;
}
.hero h1{
    font-size: var(--font-size-h1-small);
}
.hero p{
    font-size:var(--font-size-p-small);
    margin: 5px 0;
}
.img{
 
    height: 50vh;
   
}
.hero .row .details-hero{
    height: 40vh; 
}


}
/* End For Media Quare For Hero Section */


/* Find more Section */
.find-more{
    text-align: center;
    background-color: var(--orange-back);
}
.find-more .row{
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.find-more .row p{
    margin: 6px 0;
    color: var(--text-color);
}
.find-more .row h2{
    color:var(--header);
}
.find-more .row button{
    background-color: var(--header);
    color: black;
    border-radius: 10px;
    font-size: var(--font-size);
    transition:background-color var(--tran-time) ;
}
.find-more .row button:hover{
    background-color: #959ca3;
}
/* End Of Find more Section */
/* Media Quare For Find More Section */
/* . Small .*/

@media (max-width: 540px) {
.find-more .row h1{
    font-size: var(--font-size-h1-small);
    }

.find-more .row p{
    font-size:var(--font-size-p-small);
    margin: 5px 0;
}
}
/* End Of Media Quare For Find More Section */



















/* 

//----------------

in the last step in project:
 - make backround color for navbar .
 - make menue appar when i click in icon .
 - Learn about:
  - postion (ab,re) and tran .
  - align-items , jsu... when made flex-d: coloum .

*/